{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuestas disponibles</title>
    <link rel="stylesheet" href="{% static 'polls/css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>Encuestas Disponibles</h1>
        {% if latest_question_list %}
        <ul class="question-list">
            {% for question in latest_question_list %}
            <li class="question-box">
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No hay encuestas disponibles.</p>
        {% endif %}
        <a href="{% url 'polls:question' %}">
            <button type="button">Crear una nueva encuesta</button>
        </a>
    </div>
</body>
</html>
