{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opción Añadida</title>
    <link rel="stylesheet" href="{% static 'polls/css/success_choice.css' %}">
</head>
<body>
    <div class="container">
        <div class="success-message">
            <h1>Opción "{{ choice.choice_text }}" añadida a la encuesta "{{ question.question_text }}"!</h1>
        </div>
        <a href="{% url 'polls:detail' question.id %}">
            <button type="button">Regresar a las opciones de la encuesta</button>
        </a>
        <a href="{% url 'polls:add_choice' question.id %}">
            <button type="button">Añadir otra opción</button>
        </a>
        <a href="{% url 'polls:index' %}">
            <button type="button">Ir a las encuestas</button>
        </a>
    </div>
</body>
</html>
